.header {
  width: 100%;
  background: #f8f5ee;
  color: #1a1a1a;
}

.row1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  font-size: 12px;
  background: #cfe0e6;
}

.row2 {
  display: flex;
  align-items: center;
  padding: 20px 8% 20px 12%;
}

.nav {
  display: flex;
  gap: 72px;
  font-size: 14px;
}
.nav a:hover{
  color: #ad2c2c;
}
.nav a {
  color: #1a1a1a;
  transition: opacity 0.2s;
}

.nav a:hover {
  opacity: 1.6;
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  margin-left: auto;
}

@media (max-width: 900px) {
  .row1 {
    display: none;
  }

  .row2 {
    padding: 16px 20px;
    flex-wrap: wrap;
    gap: 12px;
  }

  .nav {
    gap: 20px;
    font-size: 13px;
    flex-wrap: wrap;
  }
}